body{
	display: flex;
	justify-content: center;
	
}

.flex-container{
	display:flex;
	flex-direction: column;
	font-family: "Times New Roman", Times, serif;
	width: 250px;
	padding: 10px 10px 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    
    


}

button{
	width:250px;

}